<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import { onMounted, ref, onBeforeUnmount } from "vue";
import { Rocket, User2, MapPin, PartyPopper } from "lucide-vue-next";
import Choices from "choices.js";
// import Account from "@/components/forms/wizard/Account.vue";
// import Personal from "@/components/forms/wizard/Personal.vue";
// import Address from "@/components/forms/wizard/Address.vue";
// import Completed from "@/components/forms/wizard/Completed.vue";

const isSubmitted = ref(false);

const defaultChoices = ref(null);
onMounted(() => {
  // default
  const defaultElement = document.querySelector("#choices-single-default");
  defaultChoices.value = new Choices(defaultElement, { allowHTML: true });
})
onBeforeUnmount(() => {
  defaultChoices.value.destroy();
})
</script>

<script>
import Tab from '../Tabs.vue'

export default {
    components: {
        Tab
    },
    data(){
        return {
            currentTab: 1,
            form: {
                fname: '',
                mname: '',
                lname: '',
                phone: '',
                email: '',
                add1: '',
                add2: '',
                city: '',
                state: '',
                country: '',
                zip: '',
                vat: '',
                prefix: ''
            }
        }
    },
    methods: {
        viewDashboard(){
            this.$inertia.visit(route('dashboard'))
        },
        viewPeribadi(){
            this.$inertia.visit(route('maklumat_peribadi'))
        }
    },
}
</script>

<template>
    <Head title="Dashboard" />
    <AuthenticatedLayout>
        <div class="grid grid-cols-1 2xl:grid-cols-12">
            <div class="col-span-12 2xl:col-start-3 2xl:col-span-8">
                <div class="pt-6 pb-3 flex mb-3">
                    <button @click="viewDashboard" type="button" class="flex items-center space-x-2 text-slate-700 btn bg-white border-slate-400 hover:text-slate-600 hover:bg-slate-100">
                        
                        <img src="/assets/images/return.png" class="h-4 w-4" alt="">
                        <span>Kembali ke halaman utama</span>
                    </button>
                </div>
                <!-- <div class="pt-6 pb-3 flex mb-3">
                    <TButton :variant="'outlined'" class="flex space-x-2 text-black">
                    </TButton>
                </div> -->
                <Tab></Tab>
                <div class="mt-5 tab-content p-6 border bg-white rounded-lg shadow-md">
                    <div class="tab-pane">
                        <!-- <h5 class="mb-3">No Tentera</h5> -->
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            
                            <label class="inline-block space-y-2 text-base font-medium">
                                <span>Gambar Tahun Khidmat 1-10</span>
                                <input
                                    type="file"
                                    class="cursor-pointer form-file border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500"
                                    placeholder="Enter your name"
                                />
                            </label>
                            <label class="inline-block space-y-2 text-base font-medium">
                                <span>Gambar Tahun Khidmat 11 Ke Atas</span>
                                <input
                                    type="file"
                                    class="cursor-pointer form-file border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500"
                                    placeholder="Enter your name"
                                />
                            </label>
                            <TInputField
                                v-model="form.fname"
                                label="No Tentera"
                                required
                            />
                            <TInputField
                                v-model="form.mname"
                                label="Pangkat"
                                required
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-1">
                            <TInputField
                                v-model="form.lname"
                                label="Nama"
                                required
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <TInputField
                                v-model="form.phone"
                                label="Gelaran"
                                required
                            />
                            <label class="inline-block space-y-2 text-base font-medium">
                                <span>Perkhidmatan<span class="text-red-400">*</span></span>
                                
                                <select
                                    class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
                                    name="choices-single-default"
                                    id="choices-single-default"
                                    >
                                    <option value="Choice 1">Choice 1</option>
                                    <option value="Choice 2">Choice 2</option>
                                    <option value="Choice 3">Choice 3</option>
                                </select>
                            </label>
                            <TInputField
                                v-model="form.add1"
                                label="Regimen/Kor/Cawangan"
                                required
                            />
                            <TInputField
                                v-model="form.add2"
                                label="Pasukan"
                                required
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <TInputField
                                v-model="form.city"
                                label="Tarikh Lahir"
                            />
                            <TInputField
                                v-model="form.state"
                                label="Tempat Lahir"
                            />
                            <TInputField
                                v-model="form.country"
                                label="Bangsa"
                            />
                            <TInputField
                                v-model="form.zip"
                                label="Agama"
                            />
                            <TInputField
                                v-model="form.vat"
                                label="No. BAT C 10"
                            />
                            <TInputField
                                v-model="form.prefix"
                                label="No. BAT C5"
                                required
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <TInputField
                                v-model="form.prefix"
                                label="No Kad Pengenalan Awam"
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <TInputField
                                v-model="form.prefix"
                                label="No Insuran Kelompok"
                                required
                            />
                            <TInputField
                                v-model="form.prefix"
                                label="Unit"
                            />
                        </div>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-1">
                            <TTextarea
                                v-model="form.prefix"
                                label="Alamat Terkini"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="pt-6 flex items-center justify-end mb-6">
                    <button class="flex items-center space-x-2 text-slate-700 btn bg-white border-slate-400 hover:text-slate-600 hover:bg-slate-100">
                        <span>Simpan dan seterusnya</span>
                        <img src="/assets/images/arrow-next.png" class="h-4 w-4" alt="">
                    </button>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>