<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<script>
export default {
    methods: {
        viewPeribadi(){
            this.$inertia.visit(route('maklumat_peribadi'))
        }
    }
}
</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <div class="py-24" style="background-image: url('assets/images/polygon.svg');">
            <div class="mx-auto max-w-7xl px-8">
                <div class="text-2xl font-bold text-white tracking-tight uppercase ">
                    <span>PROFIL</span><span class="ml-2 text-cyan-300">{{ $page.props.auth.user.name}}</span>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-7xl px-8 pb-12 -mt-16">
            <div class="rounded-lg bg-white px-5 py-10 sm:px-10 relative">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                    <div @click="viewPeribadi" class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-green-400 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                    <path fill="#ee3e54" d="M13 27A2 2 0 1 0 13 31A2 2 0 1 0 13 27Z"></path><path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z"></path><path fill="#fce0a2" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z"></path><path fill="#ee3e54" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#ee3e54" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M18.5 51A2.5 2.5 0 1 0 18.5 56A2.5 2.5 0 1 0 18.5 51Z"></path><path fill="#f1bc19" d="M21 66A1 1 0 1 0 21 68A1 1 0 1 0 21 66Z"></path><path fill="#fff" d="M80 33A1 1 0 1 0 80 35A1 1 0 1 0 80 33Z"></path><g><path fill="#78a2d2" d="M35,72.3c-4,0-7.3-3.3-7.3-7.3V35c0-4,3.3-7.3,7.3-7.3h30c4,0,7.3,3.3,7.3,7.3v30c0,4-3.3,7.3-7.3,7.3H35z"></path><path fill="#472b29" d="M65,28.4c3.6,0,6.6,3,6.6,6.6v30c0,3.6-3,6.6-6.6,6.6H35c-3.6,0-6.6-3-6.6-6.6V35c0-3.6,3-6.6,6.6-6.6H65 M65,27H35c-4.4,0-8,3.6-8,8v30c0,4.4,3.6,8,8,8h30c4.4,0,8-3.6,8-8V35C73,30.6,69.4,27,65,27L65,27z"></path></g><g><path fill="#472b29" d="M68.5,47.4c-0.3,0-0.5-0.2-0.5-0.5V43c0-0.3,0.2-0.5,0.5-0.5S69,42.7,69,43v3.9C69,47.2,68.8,47.4,68.5,47.4z"></path></g><g><path fill="#472b29" d="M68.5,40.5c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5S69,37.7,69,38v2C69,40.3,68.8,40.5,68.5,40.5z"></path></g><g><path fill="#472b29" d="M64,69H36c-2.8,0-5-2.2-5-5V36c0-2.8,2.2-5,5-5h25.4c0.3,0,0.5,0.2,0.5,0.5S61.7,32,61.4,32H36 c-2.2,0-4,1.8-4,4v28c0,2.2,1.8,4,4,4h28c2.2,0,4-1.8,4-4V49.6c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5V64C69,66.8,66.8,69,64,69z"></path></g><g><path fill="#fdfcee" d="M52.3,58.2c0,0.9,1,1.4,3,1.4v1.8H44.7v-1.8c2,0,3-0.5,3-1.4v-9.6c0-1-1-1.5-3-1.5v-1.8h7.7V58.2z M52.8,40.1 c0,0.7-0.3,1.4-0.8,1.9s-1.3,0.8-2.1,0.8c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.3-0.9-0.6s-0.5-0.5-0.6-0.9 c-0.2-0.3-0.2-0.7-0.2-1.1c0-0.8,0.3-1.4,0.9-1.9c0.6-0.5,1.3-0.8,2.1-0.8c0.8,0,1.5,0.3,2.1,0.8C52.5,38.7,52.8,39.3,52.8,40.1z"></path><path fill="#472b29" d="M55.8,62H44.2v-2.8h0.5c1.1,0,2.5-0.2,2.5-0.9v-9.6c0-0.8-1.3-1-2.5-1h-0.5v-2.8h8.7l0,13.4 c0,0.2,0,0.3,0.1,0.4c0.2,0.2,0.7,0.5,2.4,0.5h0.5V62z M45.2,61h9.7v-0.8c-1.3-0.1-2.1-0.3-2.6-0.8c-0.3-0.3-0.4-0.7-0.4-1.1V45.9 h-6.7v0.8c2,0.1,3,0.7,3,1.9v9.6c0,1.2-1,1.8-3,1.9V61z M49.8,43.3c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.8-0.4-1.1-0.7 c-0.3-0.3-0.6-0.6-0.7-1c-0.2-0.4-0.3-0.8-0.3-1.3c0-0.9,0.4-1.7,1-2.3c0.7-0.6,1.5-0.9,2.4-0.9c0.9,0,1.7,0.3,2.4,0.9 c0.7,0.6,1,1.4,1,2.3c0,0.9-0.3,1.6-1,2.3C51.6,43,50.8,43.3,49.8,43.3z M49.8,37.9c-0.7,0-1.3,0.2-1.8,0.6 c-0.5,0.4-0.7,0.9-0.7,1.5c0,0.3,0.1,0.6,0.2,0.8c0.1,0.3,0.3,0.5,0.5,0.7c0.2,0.2,0.5,0.4,0.8,0.5c0.3,0.1,0.6,0.2,1,0.2 c0.7,0,1.3-0.2,1.7-0.7c0.5-0.4,0.7-0.9,0.7-1.5c0-0.6-0.2-1.1-0.7-1.5C51.1,38.1,50.5,37.9,49.8,37.9z"></path></g>
                                </svg>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Maklumat Peribadi</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Maklumat peribadi dan status</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-green-400 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <div class="relative shadow-black/5 shadow-none rounded-large" style="max-width: fit-content;"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                        <path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z"></path><path fill="#c0e5e4" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z"></path><path fill="#00a5a5" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#00a5a5" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M18.5 49A2.5 2.5 0 1 0 18.5 54 2.5 2.5 0 1 0 18.5 49zM79.5 32A1.5 1.5 0 1 0 79.5 35 1.5 1.5 0 1 0 79.5 32z"></path><g><path fill="#fdfcee" d="M25 44.6L25 67 52 67 52 68 75 68 75 44.6z"></path><path fill="#b2b1c2" d="M30.375,67c0,0,0-9.446,0-12s2.071-4.625,4.625-4.625s4.625,2.071,4.625,4.625c0,1.364,0,12,0,12 H30.375z"></path><path fill="#cdcbbd" d="M25 44.6L25 46 52 46 52 47 75 47 75 44.6z"></path><path fill="#ee3e54" d="M73.353 30.9L27.586 30.9 22.982 44.1 77.035 44.1z"></path><path fill="#472b29" d="M25.4,44H24v23.5c0,0.276,0.224,0.5,0.5,0.5H52v-1.4H25.4V44z"></path><path fill="#472b29" d="M74.6,44v23.6H52.4V44H51v24.5c0,0.276,0.224,0.5,0.5,0.5h24c0.276,0,0.5-0.224,0.5-0.5V44H74.6z"></path><path fill="#472b29" d="M72.973,31.4l3.404,12.2H23.686l4.255-12.2L72.973,31.4 M73.498,30H27.451 c-0.301,0-0.569,0.189-0.668,0.471l-4.744,13.6C21.881,44.526,22.221,45,22.707,45h54.586c0.467,0,0.805-0.441,0.681-0.887 l-3.795-13.6C74.094,30.21,73.816,30,73.498,30L73.498,30z"></path><path fill="#472b29" d="M63.625 34h-34.25C29.168 34 29 33.832 29 33.625s.168-.375.375-.375h34.25c.207 0 .375.168.375.375S63.832 34 63.625 34zM62.625 36h-33.75c-.207 0-.375-.168-.375-.375s.168-.375.375-.375h33.75c.207 0 .375.168.375.375S62.832 36 62.625 36zM61.625 38h-33.25C28.168 38 28 37.832 28 37.625s.168-.375.375-.375h33.25c.207 0 .375.168.375.375S61.832 38 61.625 38z"></path><path fill="#fbb97f" d="M71,27.25c-0.349,0-4.649,0-5,0c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75 c0.351,0,4.651,0,5,0c0.414,0,0.75-0.336,0.75-0.75S71.414,27.25,71,27.25z"></path><path fill="#472b29" d="M71,29h-5c-0.551,0-1-0.449-1-1s0.449-1,1-1h5c0.551,0,1,0.449,1,1S71.551,29,71,29z M66,27.5 c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h5c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H66z"></path><path fill="#fdd4b2" d="M70.75 37.75L66.25 37.75 66.25 28.75 70.875 28.75z"></path><path fill="#472b29" d="M70.75 38h-4.5C66.112 38 66 37.888 66 37.75v-9c0-.138.112-.25.25-.25h4.625c.067 0 .131.027.178.074.047.048.073.112.072.179l-.125 9C70.998 37.89 70.887 38 70.75 38zM66.5 37.5h4.003l.118-8.5H66.5V37.5zM74.875 47.5H57.25c-.138 0-.25-.112-.25-.25S57.112 47 57.25 47h17.625c.138 0 .25.112.25.25S75.013 47.5 74.875 47.5zM55.75 47.5h-1.5c-.138 0-.25-.112-.25-.25S54.112 47 54.25 47h1.5c.138 0 .25.112.25.25S55.888 47.5 55.75 47.5zM43.75 46.5H25.125c-.138 0-.25-.112-.25-.25S24.987 46 25.125 46H43.75c.138 0 .25.112.25.25S43.888 46.5 43.75 46.5zM47.75 46.5h-1.5c-.138 0-.25-.112-.25-.25S46.112 46 46.25 46h1.5c.138 0 .25.112.25.25S47.888 46.5 47.75 46.5z"></path><path fill="#c0e5e4" d="M68.625 54.375L68.625 62.625 58.375 62.625 58.375 51.375 66.625 51.375z"></path><path fill="#472b29" d="M68.625,63h-10.25C58.168,63,58,62.832,58,62.625v-11.25C58,51.168,58.168,51,58.375,51h8.25 C66.832,51,67,51.168,67,51.375s-0.168,0.375-0.375,0.375H58.75v10.5h9.5v-7.875c0-0.207,0.168-0.375,0.375-0.375 S69,54.168,69,54.375v8.25C69,62.832,68.832,63,68.625,63z"></path><path fill="#472b29" d="M63.5,63c-0.207,0-0.375-0.168-0.375-0.375v-11.25c0-0.207,0.168-0.375,0.375-0.375 s0.375,0.168,0.375,0.375v11.25C63.875,62.832,63.707,63,63.5,63z"></path><path fill="#c0e5e4" d="M48.625 56.625L48.628 51.375 42.378 51.375 42.375 58.625 47.625 58.625z"></path><path fill="#472b29" d="M47.625,59h-5.25c-0.1,0-0.195-0.04-0.265-0.11S42,58.724,42,58.625l0.003-7.25 c0-0.207,0.168-0.375,0.375-0.375h6.25c0.1,0,0.195,0.04,0.265,0.11s0.11,0.166,0.11,0.265L49,56.625 C49,56.832,48.832,57,48.625,57l0,0c-0.208,0-0.375-0.168-0.375-0.375l0.003-4.875h-5.5l-0.003,6.5h4.875 c0.207,0,0.375,0.168,0.375,0.375S47.832,59,47.625,59z"></path><path fill="#472b29" d="M45.503 58.987c-.207 0-.375-.168-.375-.375v-7.237c0-.207.168-.375.375-.375s.375.168.375.375v7.237C45.878 58.819 45.71 58.987 45.503 58.987zM39.625 67.375c-.207 0-.375-.168-.375-.375V55c0-2.343-1.907-4.25-4.25-4.25s-4.25 1.907-4.25 4.25v12c0 .207-.168.375-.375.375S30 67.207 30 67V55c0-2.757 2.243-5 5-5s5 2.243 5 5v12C40 67.207 39.832 67.375 39.625 67.375z"></path><path fill="#c0e5e4" d="M37.75,56c0,0.547,0,1.75,0,1.75h-5.5c0,0,0-0.231,0-1.75s1.231-2.75,2.75-2.75 S37.75,54.481,37.75,56z"></path><path fill="#472b29" d="M37.75 58h-5.5C32.112 58 32 57.888 32 57.75V56c0-1.654 1.346-3 3-3s3 1.346 3 3v1.75C38 57.888 37.888 58 37.75 58zM32.5 57.5h5V56c0-1.378-1.122-2.5-2.5-2.5s-2.5 1.122-2.5 2.5V57.5zM37.75 61h-.5C37.112 61 37 60.888 37 60.75s.112-.25.25-.25h.5c.138 0 .25.112.25.25S37.888 61 37.75 61z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Keluarga</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Maklumat Suami, Isteri, Anak</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-green-400 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <div class="relative shadow-black/5 shadow-none rounded-large" style="max-width: fit-content;"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                        <path fill="#00a5a5" d="M13 27A2 2 0 1 0 13 31A2 2 0 1 0 13 27Z"></path><path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z"></path><path fill="#c0e5e4" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z"></path><path fill="#00a5a5" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#00a5a5" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M18.5 51A2.5 2.5 0 1 0 18.5 56A2.5 2.5 0 1 0 18.5 51Z"></path><path fill="#f1bc19" d="M21 66A1 1 0 1 0 21 68A1 1 0 1 0 21 66Z"></path><path fill="#fff" d="M80 33A1 1 0 1 0 80 35A1 1 0 1 0 80 33Z"></path><g><path fill="#e1e0d8" d="M64.519,71.85H37c-1.571,0-2.85-1.278-2.85-2.85s1.278-2.85,2.85-2.85h27.531l-0.36,0.414 C63.577,67.248,63.25,68.112,63.25,69c0,0.887,0.324,1.753,0.913,2.437L64.519,71.85z"></path><path fill="#bd977c" d="M34.15,66.529V31c0-1.572,1.278-2.85,2.85-2.85h26c1.571,0,2.85,1.278,2.85,2.85v34.25H37 c-0.895,0-1.737,0.319-2.437,0.922L34.15,66.529z"></path><path fill="#9f8066" d="M43,28.15h-6c-1.571,0-2.85,1.278-2.85,2.85v35.529l0.413-0.356 c0.699-0.604,1.542-0.922,2.437-0.922h6V28.15z"></path></g><g><path fill="#472b29" d="M66.599,66.431C66.834,66.394,67,66.181,67,65.944V31c0-2.209-1.791-4-4-4H37c-2.209,0-4,1.791-4,4 v38c0,0.552,0.112,1.078,0.314,1.557c0.202,0.479,0.495,0.91,0.857,1.271c0.181,0.181,0.379,0.345,0.592,0.488 c0.426,0.288,0.909,0.495,1.43,0.602C36.454,72.972,36.724,73,37,73c0.087,0,29.235,0,29.3,0c0.386,0,0.699-0.313,0.7-0.699h0 c0,0,0,0,0-0.001s0,0,0,0c0-0.003-0.002-0.006-0.002-0.009c-0.005-0.375-0.274-0.678-0.639-0.771 C65.235,71.234,64.4,70.213,64.4,69C64.4,67.703,65.355,66.624,66.599,66.431z M37,28.4h26c1.436,0,2.6,1.164,2.6,2.6v34 c0,0-26.57,0-28.6,0c-0.998,0-1.899,0.379-2.6,0.983V31C34.4,29.564,35.564,28.4,37,28.4z M37,71.6c-1.434,0-2.6-1.166-2.6-2.6 s1.166-2.6,2.6-2.6h26.983C63.376,67.098,63,68.001,63,69c0,0.996,0.371,1.9,0.974,2.6H37z"></path><path fill="#472b29" d="M42.625 55c-.207 0-.375-.168-.375-.375v-10.25c0-.207.168-.375.375-.375S43 44.168 43 44.375v10.25C43 54.832 42.832 55 42.625 55zM42.625 60c-.207 0-.375-.168-.375-.375v-1.25c0-.207.168-.375.375-.375S43 58.168 43 58.375v1.25C43 59.832 42.832 60 42.625 60zM42.625 63c-.207 0-.375-.168-.375-.375v-1.25c0-.207.168-.375.375-.375S43 61.168 43 61.375v1.25C43 62.832 42.832 63 42.625 63zM63.625 69h-25.25C38.168 69 38 68.832 38 68.625s.168-.375.375-.375h25.25c.207 0 .375.168.375.375S63.832 69 63.625 69zM63.625 70.75h-15.25c-.207 0-.375-.168-.375-.375S48.168 70 48.375 70h15.25C63.832 70 64 70.168 64 70.375S63.832 70.75 63.625 70.75zM46.625 70.75h-1.25c-.207 0-.375-.168-.375-.375S45.168 70 45.375 70h1.25C46.832 70 47 70.168 47 70.375S46.832 70.75 46.625 70.75z"></path></g><g><path fill="#ee3e54" d="M38.25 26.25L48.75 26.25 48.75 46.75 43.5 44.375 38.25 46.75z"></path><path fill="#472b29" d="M48.625,47c-0.051,0-0.103-0.01-0.15-0.032L43.5,44.785l-4.975,2.184 c-0.115,0.051-0.25,0.04-0.355-0.029C38.063,46.87,38,46.751,38,46.625v-20.25C38,26.168,38.168,26,38.375,26h10.25 C48.832,26,49,26.168,49,26.375v20.25c0,0.126-0.063,0.245-0.17,0.314C48.769,46.979,48.696,47,48.625,47z M43.5,44 c0.052,0,0.103,0.011,0.15,0.032l4.6,2.019V26.75h-9.5v19.301l4.6-2.019C43.397,44.011,43.448,44,43.5,44z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Akademik</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Maklumat tahap pengajian</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-green-400 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <div class="relative shadow-black/5 shadow-none rounded-large" style="max-width: fit-content;"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                        <path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z"></path><path fill="#e4e4f9" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z"></path><path fill="#8889b9" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#8889b9" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M79.5 32A1.5 1.5 0 1 0 79.5 35A1.5 1.5 0 1 0 79.5 32Z"></path><path fill="#fabf82" d="M26.452,70.3c-0.966,0-1.752-0.788-1.752-1.757V35.457c0-0.969,0.786-1.757,1.752-1.757h46.096 c0.966,0,1.752,0.788,1.752,1.757v33.087c-0.001,0.968-0.786,1.756-1.752,1.756H26.452z"></path><path fill="#472b29" d="M72.548,34.4c0.58,0,1.052,0.474,1.052,1.057v33.086c0,0.583-0.472,1.057-1.052,1.057H26.452 c-0.58,0-1.052-0.474-1.052-1.057V35.457c0-0.583,0.472-1.057,1.052-1.057H72.548 M72.548,33H26.452 C25.103,33,24,34.106,24,35.457v33.086C24,69.895,25.104,71,26.452,71h46.096c1.348,0,2.451-1.105,2.452-2.456V35.457 C75,34.105,73.896,33,72.548,33L72.548,33z"></path><path fill="#f69272" d="M46.417 69.563L46.417 34.375 51.583 34.375 51.583 35.343 51.583 69.563 46.417 69.563"></path><path fill="#fef6aa" d="M70.097,63.5H74.5v0.522v3.034c0,2.569-0.406,3.381-2.847,3.444l-4.184-0.031l0.009-4.735 C67.477,64.659,69.034,63.5,70.097,63.5z"></path><path fill="#472b29" d="M71.666,71l-4.698-0.035l0.01-5.232c0-1.381,1.786-2.732,3.119-2.732H75v4.057 C75,69.725,74.519,70.927,71.666,71z M67.97,69.973L71.657,70C73.669,69.948,74,69.535,74,67.057V64h-3.903 c-0.806,0-2.119,0.969-2.119,1.733L67.97,69.973z"></path><path fill="#b3b2c3" d="M41.077,32.081c-0.27-2.473,2.162-5.581,3.689-5.581h8.517c1.53,0,3.662,3.416,3.74,5.581H59 c-0.259-4.131-1.864-8.581-5.149-8.581h-9.654c-2.455,0-4.938,4.457-5.197,8.581H41.077z"></path><path fill="#472b29" d="M59.532 32.581H56.54l-.018-.482C56.447 29.998 54.361 27 53.282 27h-8.517c-.426 0-1.054.405-1.639 1.059-.881.982-1.703 2.59-1.553 3.969l.061.554h-3.167l.033-.531c.263-4.185 2.808-9.05 5.695-9.05h9.655c3.75 0 5.386 4.875 5.647 9.05L59.532 32.581zM57.479 31.581h.981C58.11 27.725 56.587 24 53.852 24h-9.655c-1.983 0-4.236 3.741-4.651 7.581h1.013c.039-1.622.969-3.235 1.824-4.19C42.848 26.871 43.777 26 44.766 26h8.517C55.025 26 57.14 29.207 57.479 31.581zM71 66A1 1 0 1 0 71 68 1 1 0 1 0 71 66z"></path><path fill="#fef6aa" d="M31.491,65.734l0.009,4.735L27.316,70.5c-2.441-0.063-2.847-0.875-2.847-3.444v-3.034V63.5h4.403 C29.935,63.5,31.491,64.659,31.491,65.734z"></path><path fill="#472b29" d="M27.319,71c-2.869-0.073-3.351-1.275-3.351-3.943V63h4.903c1.333,0,3.118,1.351,3.119,2.732 l0.01,5.232L27.319,71z M24.969,64v3.057c0,2.479,0.331,2.892,2.359,2.943l3.671-0.027l-0.008-4.239 c0-0.765-1.313-1.733-2.119-1.733H24.969z"></path><g><path fill="#472b29" d="M27.969 66A1 1 0 1 0 27.969 68A1 1 0 1 0 27.969 66Z"></path></g><g><path fill="#b3b2c3" d="M43.223,33.542h-6.321c-0.176,0-0.318-0.243-0.318-0.541l0.001-0.96c0-0.297,0.143-0.54,0.318-0.54 h6.321c0.176,0,0.318,0.243,0.318,0.541v0.96C43.541,33.298,43.397,33.542,43.223,33.542z"></path><path fill="#472b29" d="M43.223,34.042h-6.321c-0.467,0-0.818-0.448-0.818-1.042l0.001-0.961 c0-0.592,0.352-1.039,0.818-1.039h6.321c0.467,0,0.818,0.447,0.818,1.041v0.961C44.04,33.596,43.688,34.042,43.223,34.042z M37.085,33.042h5.955c0.001-0.013,0.002-0.026,0.002-0.042v-0.959c0-0.015-0.001-0.028-0.002-0.041h-5.954 c-0.001,0.013-0.002,0.025-0.002,0.04l-0.001,0.961C37.083,33.016,37.084,33.029,37.085,33.042z"></path></g><g><path fill="#b3b2c3" d="M61.223,33.542h-6.321c-0.176,0-0.318-0.243-0.318-0.541l0.001-0.96c0-0.297,0.143-0.54,0.318-0.54 h6.321c0.176,0,0.318,0.243,0.318,0.541v0.96C61.541,33.298,61.397,33.542,61.223,33.542z"></path><path fill="#472b29" d="M61.223,34.042h-6.321c-0.467,0-0.818-0.448-0.818-1.042l0.001-0.961 c0-0.592,0.352-1.039,0.818-1.039h6.321c0.467,0,0.818,0.447,0.818,1.041v0.961C62.04,33.596,61.688,34.042,61.223,34.042z M55.085,33.042h5.955c0.001-0.013,0.002-0.026,0.002-0.042v-0.959c0-0.015-0.001-0.028-0.002-0.041h-5.954 c-0.001,0.013-0.002,0.025-0.002,0.04l-0.001,0.961C55.083,33.016,55.084,33.029,55.085,33.042z"></path></g><g><path fill="#472b29" d="M44.5,53h-19c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h19c0.276,0,0.5,0.224,0.5,0.5 S44.776,53,44.5,53z"></path></g><g><path fill="#472b29" d="M51.5,38.875c-0.138,0-0.25-0.112-0.25-0.25V35.5c0-0.138,0.112-0.25,0.25-0.25 s0.25,0.112,0.25,0.25v3.125C51.75,38.763,51.638,38.875,51.5,38.875z"></path></g><g><path fill="#472b29" d="M46.5,68.75c-0.138,0-0.25-0.112-0.25-0.25v-3c0-0.138,0.112-0.25,0.25-0.25s0.25,0.112,0.25,0.25v3 C46.75,68.638,46.638,68.75,46.5,68.75z"></path></g><g><path fill="#472b29" d="M51.5,70.167c-0.138,0-0.25-0.112-0.25-0.25V40.458c0-0.138,0.112-0.25,0.25-0.25 s0.25,0.112,0.25,0.25v29.459C51.75,70.055,51.638,70.167,51.5,70.167z"></path></g><g><path fill="#472b29" d="M46.5,63.75c-0.138,0-0.25-0.112-0.25-0.25v-30c0-0.138,0.112-0.25,0.25-0.25s0.25,0.112,0.25,0.25 v30C46.75,63.638,46.638,63.75,46.5,63.75z"></path></g><g><path fill="#472b29" d="M74.5,53h-19c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h19c0.276,0,0.5,0.224,0.5,0.5 S74.776,53,74.5,53z"></path></g><g><path fill="#fef6aa" d="M48.309,43.572l1.419-0.009c1.524-0.01,2.772,1.267,2.782,2.846l0.021,3.357 c0.01,1.579-1.222,2.872-2.746,2.882l-1.42,0.009c-1.524,0.01-2.772-1.267-2.782-2.846l-0.021-3.357 C45.553,44.874,46.786,43.581,48.309,43.572z M49.824,51.241c0.722-0.005,1.306-0.616,1.302-1.362l-0.022-3.567 c-0.005-0.746-0.596-1.349-1.319-1.345l-1.514,0.01c-0.722,0.005-1.306,0.616-1.302,1.362l0.022,3.567 c0.005,0.746,0.596,1.349,1.319,1.345L49.824,51.241z"></path><path fill="#472b29" d="M48.348,52.906c-0.799,0-1.551-0.32-2.12-0.902c-0.572-0.585-0.89-1.364-0.895-2.192l-0.021-3.356 c-0.011-1.718,1.333-3.123,2.995-3.134l1.419-0.009c0.007,0,0.014,0,0.02,0c0.799,0,1.551,0.32,2.12,0.902 c0.572,0.585,0.89,1.364,0.895,2.192l0.021,3.356c0.011,1.718-1.333,3.123-2.994,3.134l-1.42,0.009 C48.36,52.906,48.354,52.906,48.348,52.906z M48.312,43.821c-1.387,0.009-2.508,1.188-2.499,2.63l0.021,3.356 c0.004,0.699,0.271,1.354,0.752,1.847c0.475,0.485,1.1,0.752,1.763,0.752c0.006,0,0.011,0,0.016,0l1.42-0.009 c1.387-0.009,2.507-1.188,2.498-2.63l-0.021-3.356c-0.004-0.699-0.271-1.354-0.752-1.847c-0.475-0.485-1.1-0.752-1.763-0.752 c-0.006,0-0.011,0-0.016,0L48.312,43.821z M48.303,51.501c-0.856,0-1.556-0.713-1.562-1.594l-0.022-3.566 c-0.005-0.885,0.691-1.608,1.551-1.614l1.513-0.01c0.003,0,0.006,0,0.009,0c0.856,0,1.557,0.713,1.563,1.594l0.022,3.566 c0.005,0.885-0.69,1.608-1.55,1.614l-1.515,0.01C48.309,51.501,48.306,51.501,48.303,51.501z M49.791,45.217 c-0.002,0-0.004,0-0.006,0l-1.512,0.01c-0.585,0.004-1.058,0.502-1.055,1.111l0.022,3.565c0.004,0.606,0.479,1.098,1.062,1.098 c0.002,0,0.004,0,0.006,0l1.514-0.01c0.584-0.004,1.057-0.502,1.054-1.111l-0.022-3.565C50.85,45.708,50.373,45.217,49.791,45.217z"></path></g><g><path fill="#fef6aa" d="M48.705,50h0.686c0.112,0,0.203,0.095,0.203,0.212l-0.002,3.576c0,0.117-0.091,0.212-0.203,0.212 h-0.686c-0.112,0-0.203-0.095-0.203-0.212l0.002-3.576C48.502,50.095,48.593,50,48.705,50z"></path><path fill="#472b29" d="M49.39,54.25h-0.687c-0.25,0-0.453-0.207-0.453-0.462l0.002-3.576c0-0.255,0.203-0.462,0.452-0.462 h0.687c0.25,0,0.453,0.207,0.453,0.462l-0.002,3.576C49.842,54.043,49.639,54.25,49.39,54.25z M48.752,50.247l-0.002,3.541 l0.64-0.038l-0.046-3.538L48.752,50.247z M48.711,50.25h-0.007C48.707,50.25,48.709,50.25,48.711,50.25z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Pinjaman Kerajaan</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Maklumat pinjaman kerajaan yang telah dibuat</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-green-400 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <div class="relative shadow-black/5 shadow-none rounded-large" style="max-width: fit-content;"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                        <path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z"></path><path fill="#e4e4f9" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z"></path><path fill="#8889b9" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#8889b9" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M18.5 49A2.5 2.5 0 1 0 18.5 54 2.5 2.5 0 1 0 18.5 49zM79.5 32A1.5 1.5 0 1 0 79.5 35 1.5 1.5 0 1 0 79.5 32z"></path><path fill="#fefdef" d="M37.296,73.3c-2.535,0-4.596-2.065-4.596-4.605V31.306c0-2.54,2.062-4.605,4.596-4.605h19.132 L68.3,38.593l0,30.102c0,2.54-2.062,4.605-4.596,4.605H37.296z"></path><path fill="#472b29" d="M56.138,27.4l4.662,4.67l6.799,6.812v29.813c0,2.154-1.748,3.906-3.896,3.906H37.296 c-2.149,0-3.896-1.752-3.896-3.906V31.306c0-2.154,1.748-3.906,3.896-3.906h0.769h1.718h5.523H56.138 M56.719,26H45.307h-5.523 h-1.718h-0.769C34.383,26,32,28.388,32,31.306v37.389C32,71.613,34.384,74,37.296,74h26.406c2.913,0,5.296-2.388,5.296-5.306 V38.303H69C64.224,33.518,61.495,30.785,56.719,26L56.719,26z"></path><path fill="#fef6aa" d="M56.5,27v6.483c0,2.759,2.214,5.017,4.921,5.017H68"></path><path fill="#472b29" d="M68 39h-6.579C58.432 39 56 36.525 56 33.483V27h1v6.483C57 35.974 58.983 38 61.421 38H68V39zM63 71H38c-1.654 0-3-1.346-3-3V32c0-1.654 1.346-3 3-3h2c.276 0 .5.224.5.5S40.276 30 40 30h-2c-1.103 0-2 .897-2 2v36c0 1.103.897 2 2 2h25c1.103 0 2-.897 2-2V52.917c0-.276.224-.5.5-.5s.5.224.5.5V68C66 69.654 64.654 71 63 71zM65.5 51c-.276 0-.5-.224-.5-.5v-4c0-.276.224-.5.5-.5s.5.224.5.5v4C66 50.776 65.776 51 65.5 51zM65.5 44.75c-.276 0-.5-.224-.5-.5v-2.583c0-.276.224-.5.5-.5s.5.224.5.5v2.583C66 44.526 65.776 44.75 65.5 44.75z"></path><path fill="#472b29" d="M49.5,43.75h-10c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h10 c0.138,0,0.25,0.112,0.25,0.25S49.638,43.75,49.5,43.75z"></path><g><path fill="#472b29" d="M49.5,47.75h-10c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h10 c0.138,0,0.25,0.112,0.25,0.25S49.638,47.75,49.5,47.75z"></path></g><g><path fill="#472b29" d="M49.5,51.75h-10c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h10 c0.138,0,0.25,0.112,0.25,0.25S49.638,51.75,49.5,51.75z"></path></g><g><path fill="#472b29" d="M46.5,55.75h-7c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h7c0.138,0,0.25,0.112,0.25,0.25 S46.638,55.75,46.5,55.75z"></path></g><g><path fill="#472b29" d="M49.5,59.75h-10c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h10 c0.138,0,0.25,0.112,0.25,0.25S49.638,59.75,49.5,59.75z"></path></g><g><path fill="#472b29" d="M51.5,63.75h-12c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h12 c0.138,0,0.25,0.112,0.25,0.25S51.638,63.75,51.5,63.75z"></path></g><g><path fill="#472b29" d="M61.5,63.75h-8c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h8c0.138,0,0.25,0.112,0.25,0.25 S61.638,63.75,61.5,63.75z"></path></g><g><path fill="#472b29" d="M61.5,55.75h-13c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h13 c0.138,0,0.25,0.112,0.25,0.25S61.638,55.75,61.5,55.75z"></path></g><g><path fill="#472b29" d="M61.5,59.75h-4c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h4c0.138,0,0.25,0.112,0.25,0.25 S61.638,59.75,61.5,59.75z"></path></g><g><path fill="#472b29" d="M55.5,59.75h-4c-0.138,0-0.25-0.112-0.25-0.25s0.112-0.25,0.25-0.25h4c0.138,0,0.25,0.112,0.25,0.25 S55.638,59.75,55.5,59.75z"></path></g><g><path fill="#fef6aa" d="M52.5 53L52.5 43.5 61.5 43.5 61.5 52.5 56 52.5"></path><path fill="#472b29" d="M52.75 53L52.25 53 52.25 43.25 61.75 43.25 61.75 52.75 56 52.75 56 52.25 61.25 52.25 61.25 43.75 52.75 43.75z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Kursus</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Maklumat kursus yang telah dihadiri</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col relative box-border border rounded outline-none shadow-medium rounded-large h-28 overflow-hidden my-data-box hover:shadow-lg hover:scale-105 duration-300" tabindex="-1">
                        <div class="z-50 absolute bottom-0 right-0 border-l-2 border-t-2 border-slate-300 p-2 bg-red-500 rounded-tl-md shadow-md">
                            <div class="text-base font-light text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="relative flex-auto place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased flex flex-row w-full p-0 overflow-hidden cursor-pointer">
                            <div class="flex flex-none w-2/5 h-full items-center justify-center">
                                <div class="relative shadow-black/5 shadow-none rounded-large" style="max-width: fit-content;"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" x="0px" y="0px" width="500" height="500" viewBox="0 0 100 100">
                                        <path fill="#f1bc19" d="M78 13A1 1 0 1 0 78 15A1 1 0 1 0 78 13Z"></path><path fill="#f9dbd2" d="M50 12A38 38 0 1 0 50 88A38 38 0 1 0 50 12Z"></path><path fill="#f1bc19" d="M84 12A4 4 0 1 0 84 20A4 4 0 1 0 84 12Z"></path><path fill="#ee3e54" d="M14 24A2 2 0 1 0 14 28A2 2 0 1 0 14 24Z"></path><path fill="#fbcd59" d="M78 75A2 2 0 1 0 78 79 2 2 0 1 0 78 75zM17 74A4 4 0 1 0 17 82 4 4 0 1 0 17 74z"></path><path fill="#ee3e54" d="M24 81A2 2 0 1 0 24 85A2 2 0 1 0 24 81Z"></path><path fill="#fff" d="M66.5 76A2.5 2.5 0 1 0 66.5 81 2.5 2.5 0 1 0 66.5 76zM16 47A1 1 0 1 0 16 49 1 1 0 1 0 16 47z"></path><path fill="#f1bc19" d="M86 30A1 1 0 1 0 86 32A1 1 0 1 0 86 30Z"></path><path fill="#fff" d="M80 64A2 2 0 1 0 80 68A2 2 0 1 0 80 64Z"></path><path fill="#78a2d2" d="M50 25.7A24.3 24.3 0 1 0 50 74.3A24.3 24.3 0 1 0 50 25.7Z"></path><path fill="#472b29" d="M50,75c-13.8,0-25-11.2-25-25c0-13.8,11.2-25,25-25c13.8,0,25,11.2,25,25C75,63.8,63.8,75,50,75z M50,26.5 C37,26.5,26.5,37,26.5,50S37,73.5,50,73.5S73.5,63,73.5,50S63,26.5,50,26.5z"></path><path fill="#78a2d2" d="M49.9 29.700000000000003A20.4 20.4 0 1 0 49.9 70.5A20.4 20.4 0 1 0 49.9 29.700000000000003Z"></path><path fill="#472b29" d="M69.4,44.8c-0.2,0-0.4-0.1-0.5-0.4c-0.1-0.3-0.2-0.6-0.3-0.9c-0.4-1.1-0.9-2.2-1.5-3.2 c-0.1-0.2-0.1-0.5,0.2-0.7c0.2-0.1,0.5-0.1,0.7,0.2c0.6,1.1,1.1,2.2,1.5,3.3c0.1,0.3,0.2,0.6,0.3,0.9c0.1,0.3-0.1,0.5-0.3,0.6 C69.5,44.7,69.5,44.8,69.4,44.8z"></path><path fill="#472b29" d="M50,70.9c-11.5,0-20.9-9.3-20.9-20.8c0-11.5,9.4-20.8,20.9-20.8c6,0,11.7,2.6,15.6,7c0.3,0.3,0.6,0.7,0.9,1 c0.2,0.2,0.1,0.5-0.1,0.7c-0.2,0.2-0.5,0.1-0.7-0.1c-0.3-0.3-0.5-0.7-0.8-1c-3.8-4.2-9.2-6.7-14.9-6.7c-11,0-19.9,8.9-19.9,19.8 C30.1,61,39,69.9,50,69.9S69.9,61,69.9,50.1c0-1-0.1-2-0.2-3c0-0.3,0.1-0.5,0.4-0.6c0.3,0,0.5,0.1,0.6,0.4c0.2,1,0.2,2.1,0.2,3.1 C70.9,61.5,61.5,70.9,50,70.9z"></path><g><path fill="#ceccbe" d="M48.4,58.4c-0.5,0-0.9-0.2-1.3-0.5l-8.4-8.4c-0.8-0.7-0.8-1.9-0.1-2.7c0.4-0.4,0.9-0.6,1.4-0.6 c0.5,0,0.9,0.2,1.3,0.5l7.1,7.2l12-12c0.4-0.3,0.8-0.5,1.3-0.5c0.5,0,1,0.2,1.4,0.6c0.3,0.4,0.5,0.9,0.5,1.4s-0.2,1-0.6,1.3 L49.8,57.8C49.4,58.2,48.9,58.4,48.4,58.4z"></path><path fill="#472b29" d="M61.7,41.8c0.4,0,0.7,0.1,1,0.4c0.5,0.6,0.5,1.4-0.1,2L49.4,57.5c-0.3,0.3-0.6,0.4-1,0.4 c-0.3,0-0.7-0.1-0.9-0.4l-8.4-8.4c-0.6-0.5-0.6-1.4-0.1-2c0.3-0.3,0.7-0.5,1-0.5c0.3,0,0.7,0.1,0.9,0.4l7.4,7.5l12.4-12.4 C61,41.9,61.4,41.8,61.7,41.8 M61.7,40.8L61.7,40.8c-0.6,0-1.2,0.2-1.6,0.7L48.4,53.1l-6.7-6.8l0,0l0,0c-0.4-0.4-1-0.6-1.6-0.6 c-0.7,0-1.3,0.3-1.8,0.8c-0.4,0.5-0.7,1.1-0.6,1.7c0,0.6,0.3,1.2,0.8,1.7l8.4,8.4c0.5,0.4,1,0.7,1.6,0.7c0.6,0,1.2-0.2,1.6-0.7 l13.3-13.3c0.4-0.4,0.7-1,0.7-1.7s-0.2-1.3-0.7-1.7C63,41,62.4,40.8,61.7,40.8L61.7,40.8z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex flex-col justify-around flex-grow w-3/5 p-5 bg-blue-50">
                                <div class="z-20 text-base font-medium text-cyan-950">Perakuan</div>
                                <div class="z-20 -md:mt-3 mt-0 text-xs font-light leading-snug">Pengesahan & pengakuan penghantaran profil</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
