<script setup>
import { onMounted } from "vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
	AOS.init({
		duration: 800
	});
});
</script>

<script>
export default {
  	data(){
		return {
			articles: [{
				id: 1,
				title: 'DATA TERBUKA',
				text: 'Data yang terdapat dalam portal data.gov.myboleh digunakan secara bebas oleh mana-mana pengguna portal selagi tidak menyalahi terma dan syarat yang dinyatakan dalam polisi data',
				image: '/assets/images/landing/articles/article_1.webp'
			},{
				id: 2,
				title: 'KERTAS PUTIH PERTAHANAN',
				text: 'Satu dokumen pernyataan niat, kemampuan juga menggariskan arah tuju pertahanan dan keselamatan negara.',
				image: '/assets/images/landing/articles/article_2.webp'
			},{
				id: 1,
				title: 'TENDER MINDEF',
				text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
				image: '/assets/images/landing/articles/article_3.webp'
			}]
		}
	}
}
</script>

<template>
  <section class="relative py-24 xl:py-32" id="artikel">
		<div class="container 2xl:max-w-[87.5rem] px-4 mx-auto">
			<div class="mx-auto mb-8 text-center xl:max-w-3xl">
				<h2 class="mb-0 leading-normal capitalize">Artikel</h2>
			</div>
			<div class="grid grid-cols-1 gap-5 mt-12 md:grid-cols-2 xl:grid-cols-3" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="300">
				<div v-for="article in articles" :key="article.id" class="cursor-pointer border rounded-md bg-gradient-to-b from-slate-100 to-white shadow-md hover:shadow-lg transform scale-95 hover:scale-100 duration-300">
					<img :src="article.image" alt="" class="w-full rounded" />
					<div class="py-6">
						<div class="py-3 px-6">
							<h5 class="text-center text-md text-blue-500">
								<a href="#">{{ article.title }}</a>
							</h5>
						</div>
						<div class="mt-3 px-10 text-center">
							<p class="mb-3">{{ article.text }}</p>
						</div>
						<div class="flex justify-center items-center gap-3 mt-3">
							<h6 class="font-bold">Klik untuk baca</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
  </section>
</template>
