<script setup>
import { onMounted } from "vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
	AOS.init({
		duration: 800
	});
});
</script>

<template>
<section class="relative pb-28 pt-32" id="hebahan">
	<div class="container px-4 mx-auto">
		<div class="mx-auto mb-16 text-center xl:max-w-3xl">
			<h2 class="mb-0 leading-normal capitalize">Hebahan</h2>
		</div>
		<div class="border py-20 px-36 rounded-lg bg-white shadow-lg">
			<carousel :items-to-show="1" :wrapAround="true">
				<slide v-for="content in contents" :key="content">
					<div class="flex flex-col sm:flex-row sm:space-x-6 sm:mx-16" >
						<div class="hidden w-4/6 sm:flex flex-col">
							<h1 class="mb-4 !leading-normal lg:text-5xl 2xl:text-2xl dark:text-zinc-100 font-bold" data-aos="fade-right" data-aos-delay="800">
								{{ content.title }}
							</h1>
							<span class="mb-4 underline font-semibold" data-aos="fade-right" data-aos-delay="800">{{ content.caption }}</span>
							<p class="text-left text-lg mb-7 text-gray-600 dark:text-zinc-400" data-aos="fade-right" data-aos-delay="600" v-html="content.text"></p>
						</div>
						<div class="w-full sm:w-3/6 sm:h-[400px]">
							<img :src="content.image" alt="" class="w-full h-full object-fill">
						</div>
					</div>
				</slide>
				<template #addons>
					<navigation />
				</template>
			</carousel>
		</div>
	</div>
</section>
</template>

<script>

import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'

export default {
	data(){
		return {
			contents: [{
				title: 'Versi 1.0',
				caption: 'Polisi Keselamatan Siber',
				text: 'Pematuhan PKS adalah terpakai kepada semua warga MINDEF, ATM dan pihak yang berurusan dengan perkhidmatan digital MINDEF.<br>Polisi ini dibangunkan untuk menjamin kesinambungan perkhidmatan MINDEF dengan meminimumkan kesan insiden keselamatan siber. Polisi in akan memudahkan perkongsian maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat dilindungi.',
				image: '/assets/images/landing/home/home_4.jpeg'
			},{
				title: '2021-2030',
				caption: 'Kertas Putih Pertahanan',
				text: 'Satu dokumen pernyataan niat, kemampuan juga menggariskan arah tuju pertahanan dan keselamatan negara.<br>KPP dibangunkan berdasarkan prinsip telus, inklusif dan berasaskan bukti. KPP adalah bukti komitmen kerajaan untuk memperkasakan pertahanan dan daya tahan negara untuk melindungi kepentingan negara dan mempertahankan kedaulatan dan keutuhan wilayah.',
				image: '/assets/images/landing/home/home_5.jpeg'
			},{
				title: '7 Teras Utama',
				caption: 'Pelan Strategik MINDEF 2021-2025',
				text: 'Apa itu Pelan Strategik MINDEF (PSM) 2021-2025?<br>Pelan Strategik MINDEF (PSM) 2021-2025 merupakan dokumen tindakan yang menggariskan perancangan hala tuju strategik Kementerian untuk tempoh lima tahun.',
				image: '/assets/images/landing/home/home_6.jpg'
			},{
				title: 'Versi 1.0',
				caption: 'Polisi Keselamatan Siber',
				text: 'Pematuhan PKS adalah terpakai kepada semua warga MINDEF, ATM dan pihak yang berurusan dengan perkhidmatan digital MINDEF.<br>Polisi ini dibangunkan untuk menjamin kesinambungan perkhidmatan MINDEF dengan meminimumkan kesan insiden keselamatan siber. Polisi in akan memudahkan perkongsian maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat dilindungi.',
				image: '/assets/images/landing/home/home_7.png'
			},{
				title: 'Versi 1.0',
				caption: 'Polisi Keselamatan Siber',
				text: 'Pematuhan PKS adalah terpakai kepada semua warga MINDEF, ATM dan pihak yang berurusan dengan perkhidmatan digital MINDEF.<br>Polisi ini dibangunkan untuk menjamin kesinambungan perkhidmatan MINDEF dengan meminimumkan kesan insiden keselamatan siber. Polisi in akan memudahkan perkongsian maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat sesuai dengan keperluan operasi MINDEF bagi memastikan semua maklumat dilindungi.',
				image: '/assets/images/landing/home/home_8.jpg'
			}]
		}
	},
	components: {
		Carousel,
		Slide,
		Pagination,
		Navigation,
	},
	
}
</script>
