<script setup>
import { onMounted } from "vue"
import Navbar from "./Navbar.vue"
import Utama from "./Utama.vue"
import MengenaiKami from "./MengenaiKami.vue"
import Artikel from "./Artikel.vue"
import Hebahan from "./Hebahan.vue"
import Pautan from "./Pautan.vue"
import Contact from "./Contact.vue"
import { Head } from '@inertiajs/vue3';

onMounted(() => {
    document.body.setAttribute(
        "class",
        "text-base bg-white text-body font-public dark:text-zink-50 dark:bg-zink-800"
    );
});
</script>

<template>
    <Navbar />
    <Utama />
    <MengenaiKami />
    <Hebahan />
    <Artikel />
    <Pautan />
    <Contact />
</template>