<script setup>
import { onMounted } from "vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
	AOS.init({
		duration: 800
	});
});
</script>

<template>
<section class="relative pb-28 pt-32" id="mengenai_kami">
    <div class="container px-4 mx-auto">
        <div class="mx-auto text-center xl:max-w-3xl" data-aos="zoom-in-down" data-aos-delay="300">
            <h1 class="mb-6 leading-normal capitalize">
                Dibangunkan oleh 
                <span
                class="relative inline-block px-2 mx-2 before:block before:absolute before:-inset-1 before:-skew-y-6 before:bg-sky-50 dark:before:bg-sky-500/20 before:rounded-md before:backdrop-blur-xl"
                ><span class="relative text-sky-500">Core Entity Sdn Bhd</span></span
                >
            </h1>
            <p class="text-lg text-slate-500 dark:text-zink-200">
                dibawah kontrak Perkhidmatan Senggaraan Peralatan, Perisian Dan Aplikasi Human Resource Management Information System (HRMIS) ATM
            </p>
        </div>

        <div class="grid items-center grid-cols-1 gap-6 mt-20 lg:grid-cols-12" data-aos="fade-right" data-aos-delay="300">
            <div class="lg:col-span-7">
                <h1 class="mb-3 leading-normal capitalize text-2xl lg:text-4xl">
                HRMIS ATM 1.1 dibangunkan untuk menaik taraf bagi HRMIS1.0
                </h1>
                <p class="mb-6 text-lg text-slate-500 dark:text-zink-200">
                Pembangunan moden dan meningkatkan daya keupayaan server
                </p>
            </div>
            <div class="lg:col-span-1"></div>
            <div class="text-center lg:col-span-4">
                <img
                src="/assets/images/landing/about/image_1.png"
                alt=""
                class="relative p-6 border shadow-lg ltr:ml-auto ltr:mr-24 rtl:mr-auto rtl:ml-24 rounded-xl w-6/6"
                />
            </div>
        </div>

        <div class="grid items-center grid-cols-1 gap-6 mt-32 lg:grid-cols-12" data-aos="fade-left" data-aos-delay="300">
            <div class="text-center lg:col-span-6">
                <img
                    src="/assets/images/landing/about/image_2.jpeg"
                    alt=""
                    class="relative border p-6 shadow-lg ltr:ml-auto ltr:mr-24 rtl:mr-auto rtl:ml-24 rounded-xl"
                />
            </div>
            <div class="lg:col-span-1">
            </div>
            <div class="lg:col-span-4">
                <h1 class="mb-3 leading-normal capitalize text-2xl lg:text-4xl">
                    Reka Bentuk Arkitektur mengikut kefungsian
                </h1>
                <p class="mb-6 text-lg text-slate-500 dark:text-zink-200">
                    Penggunaan keseluruhan Angkatan Tentera Malaysia tertakluk kepada 3 cabang perkhidmatan (Darat/Laut/Udara)
                </p>
            </div>
        </div>

        <div class="grid items-center grid-cols-1 gap-5 mt-32 lg:grid-cols-12" data-aos="fade-right" data-aos-delay="300">
            <div class="lg:col-span-4">
                <h1 class="mb-3 leading-normal capitalize text-2xl lg:text-4xl">
                Garis Masa Pembangunan
                </h1>
                <p class="mb-4 text-lg text-slate-500 dark:text-zink-200">
                    Jangkamasa menaik taraf ini siap sepenuhnya merujuk kepada keseluruhan modul.
                </p>
            </div>
            <div class="text-center lg:col-span-8">
                <img
                src="/assets/images/landing/about/image_3.jpeg"
                alt=""
                class="relative shadow-lg border p-6 ltr:ml-auto rtl:mr-auto ltr:mr-24 rtl:ml-24 rounded-xl"
                />
            </div>
        </div>
    </div>
</section>
</template>
