<script setup>
import { ref } from "vue";
import { Autoplay, Pagination } from "swiper/modules";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import "swiper/css/autoplay";
import "swiper/css/pagination";
import { onMounted } from "vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
	AOS.init({
		duration: 800
	});
});

const breakpoints = ref({
  425: {
	slidesPerView: 1,
	spaceBetween: 40
  },
  768: {
	slidesPerView: 2,
	spaceBetween: 40
  },
  1024: {
	slidesPerView: 5,
	spaceBetween: 30
  }
});
</script>

<style>
.swiper{
	background-color: white;
}
.swiper-slide{
	padding: 0
}
</style>
<script>
export default {
	  data(){
		return {
		  links: [{
			id: 1,
			title: 'DATA TERBUKA',
			text: 'Data yang terdapat dalam portal data.gov.myboleh digunakan secara bebas oleh mana-mana pengguna portal selagi tidak menyalahi terma dan syarat yang dinyatakan dalam polisi data',
			image: '/assets/images/landing/links/colab_dosm.jpg'
		  },{
			id: 2,
			title: 'KERTAS PUTIH PERTAHANAN',
			text: 'Satu dokumen pernyataan niat, kemampuan juga menggariskan arah tuju pertahanan dan keselamatan negara.',
			image: '/assets/images/landing/links/colab_jab_kebajikan_masyarakat.jpg'
		  },{
			id: 3,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_janm.jpg'
		  },{
			id: 4,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_jpa.jpg'
		  },{
			id: 5,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_ke.jpg'
		  },{
			id: 6,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_kem_pemgangkutan.jpg'
		  },{
			id: 7,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_kem_pendidikan_msia.jpg'
		  },{
			id: 8,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_kem_pendidikan_tinggi.jpg'
		  },{
			id: 9,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_kwap.jpg'
		  },{
			id: 10,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_lhdn.jpg'
		  },{
			id: 11,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_mampu.jpg'
		  },{
			id: 12,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_perkeso.jpg'
		  },{
			id: 13,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_spa.jpg'
		  },{
			id: 14,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab_tm.jpg'
		  },{
			id: 15,
			title: 'TENDER MINDEF',
			text: 'Mengambilkira situasi semasa negara, semua petender atau penyebut harga diminta untuk sentiasa peka ke atas sebarang perubahan pada tawaran perolehan yang telah ditawarkan oleh Kementerian Pertahanan',
			image: '/assets/images/landing/links/colab-ssm.jpg'
		  }]
		}
	}
}
</script>

<template>
	<section class="relative" id="pautan">
		<div class="container 2xl:max-w-[87.5rem] px-4 mx-auto">
			<div class="mx-auto mb-8 text-center xl:max-w-3xl">
				<h1 class="mb-0 leading-normal capitalize text-2xl">KOLABRASI STRATEGIK</h1>
			</div>
			<div class="pb-6 feedback-slider">
				<div class="swiper-wrapper">
					<swiper
						:loop="true"
						:modules="[Autoplay, Pagination]"
						:autoplay="{ delay: 3000, disableOnInteraction: false }"
						:pagination="{ clickable: true, el: '.swiper-pagination' }"
						:slides-per-view="3"
						:breakpoints="breakpoints"
					>
						<swiper-slide
						v-for="link in links"
						:key="link.id"
						>
							<div
								class="p-5 text-center"
								data-aos="fade-up"
								data-aos-easing="linear" data-aos-delay="300"
							>
								<div class="flex justify-center">
									<div class="transform scale-100 hover:scale-110 cursor-pointer duration-300">
										<img :src="link.image" alt="" class="w-full h-full sm:h-28 sm:w-28">
									</div>
								</div>
							</div>
						</swiper-slide>
					</swiper>
				</div>
			</div>
		</div>
	</section>
</template>
