<script setup>
import { onMounted } from "vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
	AOS.init({
		duration: 800
	});
});
</script>

<style>
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
</style>

<template>
<section class="w-full pb-28 pt-20 xl:pb-36 xl:pt-4 bg-gradient-to-r bg-white" id="laman_utama">
	<div class="absolute top-0 left-0 size-64 bg-custom-500 opacity-10 blur-3xl"></div>
	<div class="absolute bottom-0 right-0 size-64 bg-purple-500/10 blur-3xl"></div>
	<div class="container 2xl:max-w-[89rem] px-4 mx-auto w-full">
		<div class="mt-6 sm:mt-24" data-aos="zoom-in" data-aos-delay="100">
			<video class="w-full" autoplay muted controls src="/assets/videos/luhur_bersama.mp4"></video>
		</div>
	</div>
</section>
</template>
