<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import { ref } from "vue";
</script>
<script>

const form = ref({
  fname: { value: "", isValid: false },
  mname: { value: "", isValid: false },
  lname: { value: "", isValid: false },
  phone: { value: "", isValid: false },
  email: { value: "", isValid: false },
  add1: { value: "", isValid: false },
  add2: { value: "", isValid: false },
  city: { value: "", isValid: false },
  state: { value: "", isValid: false },
  country: { value: "", isValid: false },
  zip: { value: "", isValid: false },
  vat: { value: "", isValid: false },
  prefix: { value: "", isValid: false }
});

export default {
    data(){
        return {
            currentTab: 1,
        }
    },
    methods: {
        viewPeribadi(){
            this.$inertia.visit(route('maklumat_peribadi'))
        }
    }
}
</script>
<template>
    <TCard>
        <TTabs class="grid grid-cols-1 gap-3 lg:grid-cols-6 nav-tabs form-wizard">
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('maklumat_peribadi') ? ' bg-green-200' : '']" @click="$inertia.get(route('maklumat_peribadi'))">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <circle cx="28" cy="28" r="18.5" fill="#90caf9"></circle><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M31.4,41c-2.3,1-4.8,1.5-7.4,1.5C13.8,42.5,5.5,34.2,5.5,24c0-4.5,1.6-8.6,4.2-11.8"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M16.3,7.2c2.3-1.1,5-1.7,7.7-1.7c10.2,0,18.5,8.3,18.5,18.5c0,4-1.3,7.7-3.4,10.7"></path><circle cx="24" cy="16" r="2" fill="#18193f"></circle><line x1="24" x2="24" y1="22.5" y2="33.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line>
                </svg>
                <span class="block mt-3 font-medium text-15">1. Maklumat Peribadi</span>
            </TTab>
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('keluarga') ? ' bg-green-100' : '']" @click="$inertia.get(route('keluarga'))">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#9fa8da" d="M45,45V25.9c0-1.8-0.8-3.6-2.3-4.7L29.1,10.5c-0.4-0.3-0.9-0.3-1.2,0L14.3,21.2c-1.4,1.1-2.3,2.9-2.3,4.7V45	c0,0.6,0.4,1,1,1h31C44.6,46,45,45.6,45,45z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M13.4,13.8l-3.6,2.9c-1.4,1.1-2.3,2.9-2.3,4.7v18.1c0,1.1,0.9,2,2,2h20"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M35,41.5h3.5c1.1,0,2-0.9,2-2V21.4c0-1.8-0.8-3.6-2.3-4.7L24.6,6c-0.4-0.3-0.9-0.3-1.2,0l-4.6,3.6"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M18.5,35.7v-8.2c0-0.6,0.4-1,1-1h8.9c0.6,0,1,0.4,1,1v14"></path>
                </svg>
                <span class="block mt-3 font-medium text-15">2. Keluarga</span>
            </TTab>
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('test') ? ' bg-green-100' : '']">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#ffab91" d="M42,10H17c-1.7,0-3,1.3-3,3v31c0,1.7,1.3,3,3,3h25c0.6,0,1-0.4,1-1V11C43,10.4,42.6,10,42,10z"></path><path fill="none" stroke="#18193f" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M31,18.1l-2.5-1.5c-0.3-0.2-0.7-0.2-1,0L25,18.1c-0.7,0.4-1.5-0.1-1.5-0.9V5.5h9v11.7	C32.5,18,31.7,18.5,31,18.1z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M9.5,12.8V8.5c0-1.7,1.3-3,3-3h25c0.6,0,1,0.4,1,1v23.3"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M38.5,36.5v5c0,0.6-0.4,1-1,1h-25c-1.7,0-3-1.3-3-3V19"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M27.5,42.5h-15c-1.7,0-3-1.3-3-3v0c0-1.7,1.3-3,3-3h26"></path>
                </svg>
                <span class="block mt-3 font-medium text-15">3. Akademik</span>
            </TTab>
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('test') ? ' bg-green-100' : '']">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#ffe082" d="M43,17H14c-1.7,0-3,1.3-3,3v23c0,1.7,1.3,3,3,3h29c1.7,0,3-1.3,3-3V20C46,18.3,44.7,17,43,17z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M31.5,12.5h7c1.7,0,3,1.3,3,3v23c0,1.7-1.3,3-3,3h-29c-1.7,0-3-1.3-3-3v-6.8"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M6.5,21.9v-6.4c0-1.7,1.3-3,3-3h15"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M16.5,12.5v-4c0-1.1,0.9-2,2-2h11c1.1,0,2,0.9,2,2v4"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M21,27.5h-8.9c-3.1,0-5.6-2.5-5.6-5.6v-5.2"></path><line x1="30.8" x2="27" y1="27.5" y2="27.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"></line><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M41.5,19.7v2.3c0,3.1-2.5,5.6-5.6,5.6h-5.2"></path><rect width="6" height="6" x="21" y="24.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"></rect>
                </svg>
                <span class="block mt-3 font-medium text-15">4. Pinjaman Kerajaan</span>
            </TTab>
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('test') ? ' bg-green-100' : '']">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#90caf9" d="M44.96,10H19.18c-2.86,0-5.18,2.29-5.18,5.115v24.854L14.133,40H9.025C8.459,40,8,40.448,8,41v2	c0,1.657,1.377,3,3.075,3l27.811-0.031c1.72,0,3.114-1.451,3.114-3.179V16h5.013C47.558,16,48,15.558,48,15.013V13.04	C48,11.368,46.632,10,44.96,10z"></path><line x1="17.5" x2="28.5" y1="28.5" y2="28.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-width="3"></line><line x1="17.5" x2="30.5" y1="21.5" y2="21.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-width="3"></line><line x1="17.5" x2="30.5" y1="14.5" y2="14.5" fill="none" stroke="#18193f" stroke-linecap="round" stroke-width="3"></line><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M34.5,41.5	c-1.657,0-3-1.343-3-3v-2c0-0.552-0.448-1-1-1h-25c-0.552,0-1,0.448-1,1v2c0,1.657,1.343,3,3,3H34.5z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M37.5,30.723V9.5	c0-1.657,1.343-3,3-3h-25c-2.761,0-5,2.239-5,5v15.415"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M34.5,41.5	c1.657,0,3-1.343,3-3v-1.388"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M37.5,12.5h5	c0.552,0,1-0.448,1-1v-2c0-1.657-1.343-3-3-3"></path>
                </svg>
                <span class="block mt-3 font-medium text-15">5. Kursus</span>
            </TTab>
            <TTab :tabClass="['flex flex-col items-center block px-4 py-5 text-center border border-dashed border-gray-400 hover:border-zink-600 hover:scale-95 duration-100 rounded-md text-slate-500 group-[.active]/item:border-zink-600 group-[.active]/item:text-gray-700 pointer-cursor', route().current('test') ? ' bg-green-100' : '']">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="currentColor" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <circle cx="28" cy="28" r="18.1" fill="#a5d6a7"></circle><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M34.3,39.4c-2.9,2-6.5,3.1-10.3,3.1C13.8,42.5,5.5,34.2,5.5,24c0-4.4,1.6-8.5,4.1-11.7"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M20.1,5.9c1.3-0.3,2.6-0.4,3.9-0.4c10.2,0,18.5,8.3,18.5,18.5c0,2.9-0.7,5.6-1.8,8"></path><polyline fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" points="16.5,24.5 21.5,29.5 31.5,19.5"></polyline>
                </svg>
                <span class="block mt-3 font-medium text-15">6. Perakuan</span>
            </TTab>
        </TTabs>
    </TCard>
</template>