<script setup>
import { ref } from 'vue';
import { onMounted } from "vue"
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { Link } from '@inertiajs/vue3';
import Navbar from '@/Layouts/Navbar.vue'

const showingNavigationDropdown = ref(false);

onMounted(() => {
    document.body.setAttribute(
        "class",
        "text-base bg-white text-body font-public dark:text-zink-50 dark:bg-zink-800 overflow-auto"
    );
});
</script>

<template>
    <div class="flex flex-col justify-between min-h-screen bg-gray-100">
        <Navbar></Navbar>
        <div class="">
            <main class="pt-20">
                <slot />
            </main>
        </div>
        <div class="relative bg-zink-700 bottom-0 px-4 py-6 text-center border-t text-slate-500">
            <div class="shape absolute left-0 top-0 opacity-5 h-full overflow-hidden w-1/3">
                <img src="/assets/images/footer-shape-left.png" alt="">
            </div>
            <div class="shape absolute right-0 top-0 opacity-5 h-full overflow-hidden w-1/3">
                <img src="/assets/images/footer-shape-right.png" alt="">
            </div>
            <p class="text-white"> {{ 2024 }} © HRMIS of Internet</p>
        </div>
    </div>
</template>
