<script setup>
import { onMounted, ref } from "vue";
import LogoATM from "../../../public/assets/images/landing/logo-atm.png";
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { Menu, ShoppingBag, LogIn } from "lucide-vue-next";
import { Link } from '@inertiajs/vue3';

const routes = [
  { title: "Laman Utama", value: "/" },
  { title: "Mengenai Kami", value: "/" },
  { title: "Hebahan", value: "/" },
  { title: "Artikel", value: "/" },
  { title: "Kolabrasi Strategik", value: "/" },
];

const toggleMenu = () => {
  document.getElementById("navbar7")?.classList.toggle("hidden");
};
</script>

<script>
export default {
  methods: {
    goToRoute(route_name){
      this.$inertia.get(route(route_name))
    }
  }
}
</script>

<template>
  <nav class="shadow bg-white fixed inset-x-0 top-0 z-50 flex items-center justify-center h-20 py-3 [&.is-sticky]:bg-white border-b border-slate-200 [&.is-sticky]:shadow w-full">
    <div class="px-4 mx-auto flex items-center self-center w-full">
      <div class="flex items-center">
        <a class="" :href="route('dashboard')">
          <img :src="LogoATM" alt="" class="block w-56"/>
        </a>
        <span class="text-xs font-bold leading-sm px-2 py-1 uppercase rounded-full text-blue-100 bg-blue-500">Beta</span>
        <!-- <div class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">Tag</div> -->
      </div>
      <div class="mx-auto">
        <ul
          id="navbar7"
          class="absolute inset-x-0 z-20 items-center hidden py-3 mt-px bg-white shadow-lg md:mt-0 md:z-0 navbar-menu rounded-b-md md:shadow-none md:flex top-full ltr:ml-auto rtl:mr-auto md:relative md:bg-transparent md:rounded-none md:top-auto md:py-0"
        >
          <li>
            <a v-for="route in routes" :key="route.value"
              class="hover:underline hover:scale-105 duration-100 block md:inline-block px-4 md:px-3 py-2.5 md:py-0.5 text-15 font-medium text-gray-600 transition-all ease-in-out hover:text-gray-600 [&.active]:text-gray-600 [&.active]:underline cursor-pointer"

              @click="goToRoute(route.value)"
              >{{ route.title }}</a
            >
          </li>
          
          <div class="pt-4 pb-1 border-t border-gray-200">
            <div class="px-4 sm:hidden">
                <div class="font-medium text-base text-gray-800">
                    {{ $page.props.auth.user.name }}
                </div>
                <div class="font-medium text-sm text-gray-500">{{ $page.props.auth.user.email }}</div>
            </div>
            <div class="mt-3 space-y-1 sm:hidden" v-if="$page.props.auth.user">
                <ResponsiveNavLink :href="route('logout')" method="post" as="button">
                    Log Out
                </ResponsiveNavLink>
            </div>

        </div>
        </ul>
      </div>
      <div class="flex gap-2">
        <div class="ltr:ml-auto rtl:mr-auto md:hidden navbar-toggale-button">
          <TButton
            icon
            classes="flex items-center  justify-center size-[37.5px] p-0"
            @click="toggleMenu"
          >
            <Menu />
          </TButton>
        </div>
        
        <div class="hidden sm:flex sm:items-center sm:ms-6">
          <div class="ms-3 relative">
              <Dropdown align="right" width="48">
                  <template #trigger>
                      <span class="inline-flex rounded-md">
                          <button
                              type="button"
                              class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150"
                          >
                          <div class="flex items-start">
                              <span class="uppercase">{{ $page.props.auth.user.name }}</span>
                          </div>
                              <svg
                                  class="ms-2 -me-0.5 h-4 w-4"
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                              >
                                  <path
                                      fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"
                                  />
                              </svg>
                          </button>
                      </span>
                  </template>

                  <template #content>
                      <DropdownLink :href="route('profile.edit')"> Akaun Saya </DropdownLink>
                      <DropdownLink :href="route('logout')" method="post" as="button">
                          Log Keluar
                      </DropdownLink>
                  </template>
              </Dropdown>
          </div>
      </div>
      </div>
    </div>
  </nav>
</template>
